.header-custom-color{
    background-color: #17a2b8;
}

.header-custom-text-color{
    color: white;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}
.container {
    display: flex;
    justify-content: center;
    margin: 7em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 2000px; 
}

.box {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    max-width: 33.33%; 
    margin: 1em;}

    #sidebarToggle {
        position: fixed;
        top: 20px;
        right: 20px; /* Cambia 'left' a 'right' */
        z-index: 999;
        display: block;
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px; /* Cambia 'right' a 'left' */
        width: 250px;
        height: 100%;
        background-color: #fff; /* Cambia el color de fondo a blanco */
        padding-top: 60px;
        transition: left 0.3s ease; /* Cambia 'right' a 'left' */
    }
    
    .sidebar.show {
        left: 0; /* Cambia 'right' a 'left' */
    }
    
    .sidebar ul li {
        padding: 10px;
        color: #000; /* Cambia el color del texto a negro */
    }

    /* Estilos personalizados para los contenedores de productos */
    .productos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;  padding: 20px;
    }
    .producto {
        flex: 1 1 300px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        text-align: center; /* Centrar el contenido del producto */
    }
    .producto img {
        max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
        height: auto;
        border-radius: 5px;
    }
    .producto-info {
        margin-top: 10px;
    }
    .logo-text-container {
        display: flex;
        align-items: center;
    }
    
    .logo {
        margin-right: 50px;
        margin-left:  100px; 
        }
    
    .navbar-brand {
        margin-right: 25px; /* Ajusta este valor según tus necesidades */
    }
    .navbar-text-custom {
        color: #000; /* Cambia el color del texto a negro */
        margin-right: 100px;
        text-decoration: none; /* Ajusta este valor para mover el texto a la izquierda */
    }
    /* ventas.css */

/* Estilos para los contenedores de gráficos */
.container.ventas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em;
}

.row.ventas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 2000px; 
    margin-bottom: 5em; /* Agrega un margen inferior */

}
.row {
    margin-bottom: 7em; /* Agrega un margen inferior */
}

.container.estadisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em;
}

.row.estadisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 2000px; 
    margin-bottom: 5em; /* Agrega un margen inferior */

}


.custom-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .custom-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .custom-btn:hover {
    background-color: #0056b3;
  }