.header-custom-color{
    background-color: #17a2b8;
}

.header-custom-text-color{
    color: white;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5em;
    padding: 1em; /* Add padding */
}
.row {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 2000px; 
}

.box {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    max-width: 33.33%; 
    margin: 1em;
}

#sidebarToggle {
    position: relative;
    top: 0;
    right: 0;
    z-index: 999;
    display: block;
    margin-left: auto; /* Agrega esta línea */
}


.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    width: 250px; /* Increase width */
    height: 100vh;
    position: fixed;
    overflow: auto;
    left: -250px; /* Increase left */
    transition: left 0.3s ease-in-out;
}

.sidebar a {
    display: block;
    color: #212529;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #17a2b8;
    color: white;
    text-decoration: none;
    transform: scale(1.05); /* Add hover effect */
}
.sidebar.show {
    left: 0;
}

.sidebar ul li {
    padding: 10px;
    color: #000;
}

/* CSS */
.productos-container {
    margin: 20px 50px; /* Agrega margen a los lados */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

}

.producto {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.producto:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.producto  {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.producto-info {
    margin-top: 10px;
    text-align: center;
}

.logo-text-container {
    display: flex;
    align-items: center;
    width: 20%;
}

.logo {
    width: 60px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-text-custom {
    font-size: 1.2em;
}

/* CSS */
#serchInputContainer {
    width: 100%;
    margin-top: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#img-logo{
    width: 100%;
    height: 100%;
}